# Python bytecode
__pycache__/
*.pyc
*.pyo

# Environments & local config
.env
.env.local
.venv/
venv/

# Databases
*.sqlite3
db.sqlite3

# Django static and media (generated)
staticfiles/
media/

# IDEs
.vscode/
.idea/

# Django secret key and local settings
config/settings/local.py

# Build/dist artifacts
build/
dist/
.eggs/
*.egg-info/

# Logs & OS noise
*.log
.DS_Store
Thumbs.db
